*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

html {
   
   height: 100%;
}

body {
    max-width: 1440px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    background-image: url(./akatsuki.png);
    background-size: 100% 100%;
    background-repeat:no-repeat ;
}

h1 {
    color: rgb(131, 131, 3);
    position: fixed;
    margin-top:20% ;
    margin-left: 42%;
    transition: 1s;
}

h2 {

    color: rgb(131, 131, 3);
    position: fixed;
    margin-top: 24%;
    margin-left: 35%;
    transition: 1s;

}

p {

    color: rgb(131, 131, 3);
    font-size: 32px;
    position: fixed;
    margin-top:27% ;
    margin-left: 36%;
    font-style: italic;
    transition: 1s;

}

h1:hover{

    color: red;



}

h2:hover{

    color: blue;



}

p:hover{

    color: #800085;


}

a {

    text-decoration: none;
    padding-right: 10px;
    margin: 5px;
    font-size: 15px;
    color: rgb(134, 15, 15);

}

#abre-fecha{
    display: none;
    
}

.icone-box{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #262626;
    border-radius: 100% 100% 100% 100%;
    font-size: 22px;
    background-image:url(./yin-yang-symbol-variant.png) ;
    background-size: 60px;
}

.box1{

    color: rgb(167, 0, 0);
    background-color: rgb(167, 0, 0) ;
    position: fixed;
    top: calc( 50% - 30px );
    left: 10px;
    z-index: 1;
}

.box2{

    background-color: #005A83;
    position: fixed;
    top: 10px;
    left: calc( 5% + 10px );
    z-index: 3;
    left: -60px;
    transition: left  0.6s, opacity 0.2s;
    opacity: 0;
}

.selecaodaloja {

    position: fixed;
    top: 0px;
    left: -80%;
    width: 40%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 30px;
    transition:left 0.5s, opacity 0.7s;
    opacity: 0;
    background-image: url(./imagens_naruto/unnamed.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
   
    
    
    

}

#abre-fecha:checked ~ .selecaodaloja

{

    left: 0%;
    opacity: 1;

}

#abre-fecha:checked ~ .box2{

    left: 35%;
    opacity: 1;
}






/* BREACKPOINT */

/* TABLETS */

@media screen and ( max-width: 768px){


    body{

        background-image: url(./imagens_naruto/akatsuki.png);
        background-repeat: no-repeat;
        background-size: 100%  100%;
    }

    

    h1 {
        position: fixed;
        margin-top:45%;
        margin-left: 35%;
        transition: 1s;
        color: rgb(0, 0, 0);
        font-size:250%;
    }
    
    h2 {
        font-size:35px;
        position: fixed;
        margin-top: 55%;
        margin-left: 15%;
        transition: 1s;
        color: rgb(0, 0, 0);
    }
    
    p {
        color: #000000;
        font-size:30px;
        position: fixed;
        margin-top:65% ;
        margin-left: 30%;
        font-style: italic;
        transition: 1s;

    }

h1:hover{
    color: red;



}

h2:hover{

    color: blue;



}

p:hover{

    color: #800085;


}

    a {

        text-decoration: none;
        padding-right: 10px;
        margin: 5px;
        font-size: 25px;
        color: rgb(134, 15, 15);
    
    }


    .icone-box{

        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        background-color: #262626;
        border-radius: 100% 100% 100% 100%;
        font-size: 22px;
        background-image:url(./imagens_naruto/yin-yang-symbol-variant.png) ;
        background-size: 60px;
    }
    
    .box1{
    
        color: rgb(167, 0, 0);
        background-color: rgb(167, 0, 0) ;
        position: fixed;
        top: calc( 50% - 30px );
        left: 10px;
        z-index: 1;
    }
    
    .box2{
    
        background-color: #005A83;
        position: fixed;
        top: 10px;
        left: 60%;
        z-index: 3;
        left: -60px;
        transition: left  0.6s, opacity 0.2s;
        opacity: 0;
    }
    
    .selecaodaloja {
    
        position: fixed;
        top: 0px;
        left: -80%;
        width: 70%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        padding: 30px;
        transition:left 0.5s, opacity 0.7s;
        opacity: 0;
        background-image: url(./imagens_naruto/unnamed.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
       
        
        
        
    
    }
    
    #abre-fecha:checked ~ .selecaodaloja
    
    {
    
        left: 0%;
        opacity: 1;
    
    }
    
    #abre-fecha:checked ~ .box2{
    
        left: 60%;
        opacity: 1;
    }

}
/* BREACKPOINT */

/* CELULARES */

@media screen and ( max-width: 667px){


    body{

        background-image: url(./20abfbad2004e52f094b040dd17b129a.jpg);
        background-repeat: no-repeat;
        background-size: 100%  100%;

    }

    

    h1 {

        color: rgb(146, 146, 0);
        font-size: 20px;
        margin-top: 250px;
        margin-left: 30%;
        text-align: center;
        justify-content: center;
        margin-bottom: 20px;
       
    }
    
    h2 {

        color: rgb(146, 146, 0);
        font-size:15px;
        position: fixed;
        margin-top: 300px ;
        margin-left: 18%;
        transition: 1s;
    }
    
    p {

        color: rgb(146, 146, 0);
        font-size:16px;
        position: fixed;
        margin-top: 350px ;
        margin-left: 25%;
        font-style: italic;
        transition: 1s;
        

    }

    h1:hover{
        color: red;
    
    
    
    }
    
    h2:hover{
    
        color: blue;
    
    
    
    }
    
    p:hover{
    
        color: #ffffff;
    
    
    }

    a {

        text-decoration: none;
        padding-right: 10px;
        margin: 5px;
        font-size: 15px;
        color: rgb(134, 15, 15);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .icone-box{

        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: #ffffff;
        border-radius: 100% 100% 100% 100%;
        font-size: 22px;
        background-image:url(./yin-yang-symbol-variant.png) ;
        background-size: 40px;
        background-repeat: no-repeat;


    }

    .box1{

        color: rgb(167, 0, 0);
        background-color: rgb(167, 0, 0) ;
        position: fixed;
        top: 10%;
        left: 10px;
        z-index: 1;
        transition: 0.5s;
    }

    .box1:hover{

        color: #005A83;
        background-color: #005A83;

    }
    
     .box2{
    
        background-color: #005A83;
        position: fixed;
        top: 10px;
        left: calc( 5% + 10px );
        z-index: 3;
        left: -60px;
        transition: left  0.6s, opacity 0.2s;
        opacity: 0;
    }

    .box2:hover{

        color: rgb(167, 0, 0);
        background-color: rgb(167, 0, 0);

    }

        .selecaodaloja {

        position: fixed;
        top: 0px;
        left: -80%;
        width: 80%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        padding: 30px;
        transition:left 0.5s, opacity 0.7s;
        opacity: 0;
        background-image: url(./unnamed.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        
        }
        
        
    


    #abre-fecha:checked ~ .selecaodaloja

    {

        left: 0%;
        opacity: 1;

    }

    #abre-fecha:checked ~ .box2{

        left: 65%;
        opacity: 1;
    }


}


